
* {
    margin: 0;
    padding: 0;
}

#block-body {
    width: 1035px;
    margin: 5px auto;
    height: auto;
}
header {
   width: 1035px; 
   height: 80px;
   background-color: #FFD700;
}
body{
    background-color: #333;
}
#block-content {
    width: 1035px;
    height: auto;
    min-height: 500px;
}
.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}


.top-menu {
    width: 685px;
    height: 80px;
    float: left;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: black;
    height: 50px;
    padding-top: 30px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    background: #00ADE4;
}
.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}
.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
    
}
.block-top-auth a {
    text-decoration: none;
    color: black;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.block-top-auth a:hover {
    color: #00ADE4;
}
.form{
    max-width: 550px;
    margin: 0px auto;
    color: #fff;
    padding: 30px 0;

}

.form_title{
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}
.form_item{
margin: 0px 0px 20px 0px;
}
.form_lable{
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;

}
.form_input{
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}
textarea{
    width: 592px;
    height: 150px;
}
textarea.form_input{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}
.form_button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: black;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}